
#grad1 {
    background: linear-gradient(to bottom, #FECCCD, #999999); /* Standard syntax (must be last) */
    background-repeat: no-repeat;
    background-size: cover;

}

.container{
	text-align: center;	

}

.col-xs-12{
	margin: 0 auto;
}

#name{
	font-size: 20px;
	margin-top: 5pt;
	padding-bottom: 20px;
	margin-bottom: 20px;
}


input.search{
	margin-top: 10px;
	height: 45px;
	width: 200px;
	border-radius: 20px;
	border-style: none;
	padding-left: 45px;
}
img.search{
	margin-left: -200px;
	height: 30px;
	width: 30px;
}

#welcome{
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: Arial;
	font-size: 43pt;
	letter-spacing: 3pt;
	color: #888888;
}

img.img-upload{
	margin-top: -10px;
	padding: 5px;
	border-radius: 5px;
	background-color: White;
	height: 100px;
	width: 100px;
}
input.submit{
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #888888;
	color: White;
	border-style: none;
	height: 50px;
	width: 180px;
}
input.submit:hover{
	background-color:  #ffcce6;
}

input.log-out{
	background-color: transparent;
	border-style: none;
	margin-bottom: 60px;
	color: White;
	height: 50px;
	width: 180px;
}
input.log-out:hover{
	color: #888888;
}